/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body { font: 12px Arial;}


   .line {
     fill: none;
     stroke: steelblue;
     stroke-width: 2px;
   }

.mdlz_logo img {
      height: 50px;
      width: 50px;

}
