bitarray==0.8.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-rest-framework==0.1.0
djangorestframework==3.6.3
idna==2.5
impyla==0.14.0
kerberos==1.2.5
ntlm-auth==1.0.5
numpy==1.13.1
ordereddict==1.1
pandas==0.20.3
ply==3.10
pure-sasl==0.4.0
pyhs2==0.6.0
pykerberos==1.1.14
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.3
requests-ntlm==1.0.0
sasl==0.2.1
six==1.10.0
thrift==0.10.0
thrift-sasl==0.2.1
thriftpy==0.3.9
urllib3==1.22
